$intro_bgColor: #0000335b;
$textColor_default: #eee;
$background_lightGray: #121214;
$background_smokeScreen: #0000335b;
$background_footer: #0000335b;
$terminal_green: #10B981;
$hardware_blue: #3B82F6;