
body, html{
   height:100%;
    margin: 0;
    padding: 0;
}
#Android {    
     background-image: url("androidLanding.png"); 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

#container {
    height:100%;
    overflow:scroll;
    padding: 0;
    margin: 0;
}


#menuBar {
	position: fixed;
	background-color: #000000;
	width:101%;
	left: -1%;
    right: -1%;
	top: -1%;
	overflow:hidden;
}
#menuList {
    padding-left: 5%;
}
.menuItem{
	color: #FFFFFF;
    font-size: 1.5em;
	display: inline;
	padding-left: 5%;
    padding-right: 5%;
    cursor: default;
}
.menuItem:hover{
	color: #80CC80;
}
.menuItem:visited{
}
.menuItem a{
	color: inherit;
	text-decoration: inherit;
}
.menuItem a:hover{
	color: inherit;
	text-decoration: inherit;
}
.menuItem a:visited{
	color: inherit;
	text-decoration: inherit;
}



#textBackground{
    display: none;
	position: fixed;
	width:100%;
	height: 100%;
	background-color: white;	
	opacity: 0.85;
}
#background {    
    display: none;
	position: fixed;
	width:100%;
	height: 100%;
	background-color: white;	
	opacity: 0.85;    
     background-image: url("androidLanding.png"); 
    background-repeat: no-repeat; 
    background-attachment: fixed;
	overflow: auto;
}

.codeBox {
    background-color: #2b2b2b;
    max-height: 300px;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 30px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    clear:both;
}
.caption{
    background-color: #555555;
    border-radius: 5px;
}
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(204,120,50); }
.s1 { color: rgb(169,183,198); }
.s2 { color: rgb(98,151,85); }
.s3 { color: rgb(106,135,89); }
.s4 { color: rgb(128,128,128); }
.s5 { color: rgb(104,151,187); }
h2{
    text-align: center;
    text-decoration: underline;
}
.space {
    height: 100px;
}
.smallSpace{
    height:50px;
}


#sideBar{
	opacity: 0.75;
	position: fixed;
    float:left;
    min-height: 100%;
    margin-left: -2%;
    margin-top: 0;
    max-width: 15%;
    background-color: #bfbfbf;
}
#sideBar ul {
    padding-top:50%;
	list-style: none;	
    padding-right: 5%;
}
#sideBar li {
	padding: .5em;	
}
#sideBar li:hover{
	color:#006600;
}
#sideBar a{
    color: inherit;
    text-decoration: inherit;
}
#sideBar a:visited {
    color:inherit;
    text-decoration: inherit;
}
#sideBar a:hover {
    color: inherit;
    text-decoration: inherit;
}



#footer {
    position:relative;
    height: 40px;
   background-color: #000000;
    clear:both;
    border-radius: 10px;
    bottom: -100px;
    padding:0%;
}
#footer div{
	color: white;
	margin-left: 40px;
	margin-right: 40px;
	margin-top:-18px;
}
#footer #copyright{float:left;}
#footer #aboutButton{float:right;}
#footer #contactButton{float:right;}
#footer a{text-decoration:none;color:inherit;}
#footer a:hover{color:#80CC80;}



/*                                         C.html page                   */
#HashMapDiv {
}



/*                                          Android.html                    */

#DashCam{ /*DashCam <li> button*/

}

#DashCamDiv{/*DashCam Div for content*/	
            display:none;
		position: absolute;
		height: 100%;
		width: 100%;
   max-width: 75%;   
    float: left;
    padding-top: 10%;
    padding-left: 15%;
}
#DashCamDiv p{
    font-size: 1.4em;
}
