$textSize_IntroHeader: 6.2rem;
$textSize_IntroHeader_tablet: 5.2rem;
$textSize_GenericHeader: 3.2rem;
$textSize_GenericHeader_tablet: 2.8rem;
$textSize_xLarge: 2.6rem;
$textSize_xLarge_tablet: 2.2rem;
$textSize_med: 1.3rem;
$textSize_normal: 1rem;
$textSize_small: 0.8rem;

$headerHeight: 1.5rem;
$footerHeight: 5rem;

$cardPadding: 0.8rem;
$cardRadius: 0.2rem;
$cardMargin: 0.5rem;

$margin_tiny: 0.2rem;
$margin_small: 0.5rem;

$phoneSmall: 480px;
$phone: 590px;
$tablet: 768px;
$tabletLg: 1024px;
$desktop: 1025px;
$desktopLg: 1600px;

$supportedSizes: (
  phone-sm: $phoneSmall,
  phone: $phone,
  tablet: $tablet,
  tablet-lg: $tabletLg,
  desktop: $desktop,
  desktop-lg: $desktopLg
);

@mixin for-size($size) {
  @if map-has-key($map: $supportedSizes, $key: $size) {
    $breakpoint: map-get($map: $supportedSizes, $key: $size);
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }
}