@use '../../types/sizes';

.about-root {
  display: flex;
  flex-direction: column;
  .content {
    display: flex;
    flex-direction: column;
    gap: sizes.$margin_small;
    .row {
      display: flex;
      flex-direction: column;
      gap: sizes.$margin_small;
      .title {
        flex: 1;
      }
      .body {
        flex: 1;
        margin-left: 0.7rem;
      }
    }
  }
}