@use '../../types/colors';
@use '../../types/sizes';

.nav-root {
  padding: sizes.$cardPadding;
  border-bottom: 1px solid var(--color-border);

  @include sizes.for-size(tablet) {
    display: flex;
    flex-direction: column;
  }

  .nav-name {
    margin-right: 0.5rem;
  }
}