@use './types/colors';
@use './types/themes';

.App {
  flex-grow: 1;
  color: var(--color-text);
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;

    .sidebar {
      display: flex;
      flex-direction: column;
      border-right: 1px solid var(--color-border);
    }
  }
}

