html {
  scroll-behavior: smooth;
  background-color: var(--color-background);
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'Jetbrains Light',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  padding: 0rem;
  padding-block: 0rem;
  padding-inline: 0rem;
}

#root {
  flex: 1;
  display: flex;
}


@font-face {
  font-family: 'Jetbrains Light';
  src: url('./assets/fonts/JetBrainsMono-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Improves loading performance */
}